---
import Layout from './Layout.astro';

interface Byline {
	date: string;
}

interface Props {
	title: string;
	description: string;
	heading: string;
	deck: string;
	byline?: Byline;
	contentClass?: string;
	hasToc?: boolean;
}

const { title, description, heading, deck, byline, contentClass, hasToc } = Astro.props;
---

<Layout title={title} description={description}>
	<main class:list={["post", { "has-toc": hasToc }]} id="top">
		<article>
			<header class="entry col">
				<h1 class="title">{heading}</h1>
				<p class="deck">{deck}</p>
				{byline && (
					<div class="byline">
						<time datetime={byline.date}>{byline.date}</time>
					</div>
				)}
			</header>

			<div class:list={["col", contentClass]}>
				<slot />
			</div>
		</article>
	</main>
</Layout>
